* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Tahoma, sans-serif;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  background-color: var(--light-color);
  color: #fff;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
}
